In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

import warnings
warnings.filterwarnings('ignore')

C:\Users\Admin\AppData\Roaming\Python\Python37\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.8' currently installed).
  warnings.warn(msg, UserWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\gradient_boosting.py:34: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  from ._gradient_boosting import predict_stages
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\gradient_boosting.py:34: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  from ._gradient_boosting import predict_stages

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/dsrscientist/dataset4/main/Japan_used_cars_datasets.csv')
df.head()

,id,price,mark,model,year,mileage,engine_capacity,transmission,drive,hand_drive,fuel
0,0,80,nissan,march,2003,80000,1240,at,2wd,rhd,gasoline
1,1,110,nissan,march,2010,53000,1200,at,2wd,rhd,gasoline
2,2,165,nissan,lafesta,2005,47690,2000,at,2wd,rhd,gasoline
3,3,190,toyota,avensis,2008,130661,1990,at,2wd,rhd,gasoline
4,4,190,daihatsu,mira,2006,66300,660,at,2wd,rhd,gasoline

In [3]:
df.shape

(2318, 11)

In [4]:
df.isnull().sum()

id                 0
price              0
mark               0
model              0
year               0
mileage            0
engine_capacity    0
transmission       0
drive              0
hand_drive         0
fuel               0
dtype: int64

In [5]:
print('unique values of mark',df['mark'].unique())
print('-'*60)
print('unique values of model',df['model'].unique())
print('-'*60)
print('unique values of transmission',df['transmission'].unique())
print('-'*60)
print('unique values of drive',df['drive'].unique())
print('-'*60)
print('unique values of hand_drive',df['hand_drive'].unique())
print('-'*60)
print('unique values of fuel',df['fuel'].unique())

unique values of mark ['nissan' 'toyota' 'daihatsu' 'volkswagen' 'mazda' 'honda' 'subaru'
 'mercedes-benz' 'kubota' 'mitsubishi' 'suzuki' 'bmw' 'chrysler' 'smart'
 'gm' 'opel' 'isuzu' 'land rover' 'peugeot' 'hyundai' 'kia motors' 'audi'
 'citroen' 'mitsuoka' 'volvo' 'ford' 'hino' 'jaguar']
------------------------------------------------------------
unique values of model ['march' 'lafesta' 'avensis' 'mira' 'passat' 'bongo van' 'step wgn'
 'sambar' 'inspire' 'mercedes-benz others' 'note' 'passo' 'impreza'
 'kubota others' 'life' 'progres' 'cube cubic' 'cube' 'a-class' 'coltplus'
 'mr wagon' 'pajero mini' 'fit' 'legacy b4' 'vitz' 'mark ii blit'
 'insight' 'move' 'tanto' 'terios kid' 'az-wagon' 'coo' 'verisa' 'swift'
 'delica d2' 'tiida' 'sienta' 'mini' 'colt' 'platz' 'bluebird sylphy'
 'eclipse' 'bb' 'moco' 'clipper truck' 'esse' 'ek wagon' 'polo' 'x-trail'
 'atenza sport' 'ad van' 'pixis space' 'freed spike' 'stream' 'alto'
 'raum' 'wish' 'every' 'demio' 'jimny' 'premacy' 'cr-v' 'lapin' 'delica'
 'wagon r' 'lancer' 'naked' 'odyssey' 'ractis' 'porte' 'corolla rumion'
 'tiida latio' 'voxy' 'carol' 'sunny' 'bongo truck' 'boon' 's-mx'
 'pt cruiser' 'golf' 'ad expert' 'fit hybrid' 'serena' 'edix'
 'move custom' 'impreza anesis' 'estima' 'carry truck' 'solio' 'mpv'
 'vanette van' 'accord' 'tribute' 'pajero io' 'noah' 'vanette truck'
 'delica truck' 'lancer cargo' 'atenza wagon' 'atenza' 'vamos' 'r2'
 'fun cargo' 'airwave' 'ipsum' 'verossa' 'forfour' 'elgrand' 'ist'
 'mirage' 'chevrolet others' 'corolla spacio' 'aerio' 'altezza' 'vectra'
 'minicab truck' 'outback' 'mark x' 'gaia' 'alphard' 'caldina' 'alphard g'
 'brevis' 'axela sport' 'alphard v' 'pleo' 'minicab van' 'nv100clipper'
 'sx4' 'legacy' 'aristo' 'palette' 'wizard' 'forester' 'grand escudo'
 'jetta' 'corolla axio' 'discovery' 'stagea' 'dion' 'mira avy' 'mark ii'
 'corolla runx' 'hijet cargo' 'biante' 'carol eco' 'axela' 'cami'
 'hijet truck' 'e-class' 'hr-v' 'elysion' 'crown comfort' 'canter'
 'impreza sportswagon' 'corolla ii' '207' 'sx4 sedan' 'townace van'
 'allion' 'passo sette' 'crown' 'civic ferio' 'fuga'
 'legacy touring wagon' 'tucson' 'gloria hardtop' '3 series' 'x-trek'
 'stella' 'bongo' 'bongo friendee' 'a4' 'a4 avant' 'fit shuttle'
 'acty truck' 'sambar truck' 'freed' 'isis' 'exiga' 'skyline' 'allex'
 'splash' 'titan dash' 'chaser' 'voltz' 'visto' 'civic hybrid' 'wingroad'
 'murano' 'probox' 'c-class' 'corolla sedan' 'xsara picasso' 'rx-8'
 'corona premio' 'comfort' 'miragino' 'new beetle' 'viewt' 'canter guts'
 'regius wagon' 'v70' 'mira es' 'acty van' 'duet' 'b-class' '307' 'belta'
 'otti' 'mini cooper' 'ek sport' 'escudo' 'succeed van' 'atrai wagon'
 'atrai' 'zest' 'mdx' 'galant fortis' 'terios' 'clipper van' '1 series'
 'townace noah' 'premio' 'outlander' 'opa' 'bongo brawny truck'
 'masterace surf' 'move latte' 'santa fe' 'terracan' 'teana' 'cima'
 'auris' 'corolla fielder' 'ad' 'freelander' 'town box' 'probox van'
 'golf variant' 'windom' 'cerato' 'pride' 'escape' 'landy' 'vivio' 'spade'
 'clipper' 'dutro' 'elf truck' 'carina' 'wagon r rr' 'x-type' 'trajet'
 'minica' 'c30' 'z' 'estima t']
------------------------------------------------------------
unique values of transmission ['at' 'mt' 'cvt']
------------------------------------------------------------
unique values of drive ['2wd' '4wd' 'awd']
------------------------------------------------------------
unique values of hand_drive ['rhd' 'center' 'lhd']
------------------------------------------------------------
unique values of fuel ['gasoline' 'diesel' 'hybrid' 'lpg' 'cng']

In [6]:
!pip install --upgrade category_encoders

Requirement already up-to-date: category_encoders in c:\users\admin\appdata\roaming\python\python37\site-packages (2.5.1.post0)
Requirement already satisfied, skipping upgrade: patsy>=0.5.1 in c:\programdata\anaconda3\lib\site-packages (from category_encoders) (0.5.1)
Requirement already satisfied, skipping upgrade: statsmodels>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from category_encoders) (0.9.0)
Requirement already satisfied, skipping upgrade: numpy>=1.14.0 in c:\users\admin\appdata\roaming\python\python37\site-packages (from category_encoders) (1.21.6)
Requirement already satisfied, skipping upgrade: scipy>=1.0.0 in c:\programdata\anaconda3\lib\site-packages (from category_encoders) (1.1.0)
Requirement already satisfied, skipping upgrade: scikit-learn>=0.20.0 in c:\programdata\anaconda3\lib\site-packages (from category_encoders) (0.20.1)
Requirement already satisfied, skipping upgrade: pandas>=1.0.5 in c:\users\admin\appdata\roaming\python\python37\site-packages (from category_encoders) (1.3.5)
Requirement already satisfied, skipping upgrade: six in c:\programdata\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.12.0)
Requirement already satisfied, skipping upgrade: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2018.7)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.7.5)

In [7]:
import category_encoders as ce
from category_encoders import BinaryEncoder
from sklearn.preprocessing import OneHotEncoder

In [8]:
encoder=ce.BinaryEncoder(return_df=True)

In [9]:
data_encoded=encoder.fit_transform(df)
data_encoded

AttributeError: 'BinaryEncoder' object has no attribute '_get_tags'